html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0px;
}

.container {
  text-align: center;
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}
.room-link {
  position: absolute;
  bottom: 40%;
  right: 25%;
  transform: scale(0);
  transition: all 0.3s linear;
  border-color: darkorange;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.5);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .room-link {
  transform: translate( -40%, -25%) scale(1);
}